<div class="container">
  <div class="row">
    <div class="col-4">
        <h2>TIPOS DE CANES</h2>
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Akita Japonés</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Golden Retriever</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Cocker Spaniel Inglés</a>
          </div>
    </div>
    <div class="col-8">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
          <div id="list-item-1">
            <h4>ORIGEN</h4>
            <p>El akita, que se crió originalmente en la provincia de Akita en el s. XVII, es la raza japonesa de mayor tamaño. Algunas teorías afirman que estos perros se criaron originalmente para la caza del jabalí, el ciervo y el oso negro; sin embargo, otras sostienen que el objetivo eran las peleas de perros. No obstante, cuando las peleas de perros perdieron popularidad en Japón (y en Europa), estos perros se emplearon para la caza. A finales del siglo XIX, se importaron otras razas y las razas japonesas quedaron relegadas. Se creó entonces la Sociedad para la Conservación de los Perros Japoneses con el fin de conservar a las razas autóctonas, que fueron declaradas patrimonio nacional.</p>
            <h4 >Personalidad</h4>
            <p>Son perros fuertes, tanto físicamente como de carácter, que no se recomiendan para dueños novatos. Es necesaria experiencia en el manejo, adiestramiento y socialización, tanto inicial como continua. No obstante, son muy fieles a su propia familia. Son valientes y buenos guardianes, sin ladrar demasiado. No se debe olvidar en ningún momento que poseen un fuerte instinto de caza.</p>
            <img src="assets/img1.jpg" class="rounded mx-auto d-block" alt="...">
          </div>

          <div id="list-item-2">
            <h4 >ORIGEN</h4>
            <p>Sir Dudley Marjoribanks (Lord Tweedmouth) tenía afición por el color dorado en perros cobradores y adquirió a un perro llamado "Nous" en Brighton (Inglaterra) en 1865 para cruzarlo con una perra tweedwater spaniel, que era una perra de cobro de color hígado. Tras 20 años de cría en los que se incluyeron labrador retrievers, setter rojos y, posiblemente, uno o dos sabuesos para mejorar la capacidad olfativa y la masa ósea, se desarrolló el golden, comenzó a ser registrado y exhibido en 1908 con el nombre de golden de pelo liso; en 1913, su clasificación pasó a ser la de retriever dorado o amarillo y, finalmente, en 1920, tomó el nombre con el que le conocemos actualmente.</p>
            <h4 >Personalidad</h4>
            <p>El golden es un perro amable y equilibrado que suele adaptarse bien a la vida en familia. Le encanta participar en todas las actividades, tanto dentro como fuera de casa. Sigue siendo, ante todo, un perro cobrador, por lo que intentará arrastrar, tirar o llevar todo lo que le queda en la boca. También le encanta el agua, por lo que habrá que estar atento a su seguridad cuando esté cerca de ella. No conviene olvidar que los golden son guerreros; por tanto, habrá que tener el máximo cuidado al entrenarlos para que no pierdan la sensibilidad en ningún momento.</p>
            <img src="assets/img2.jpg" class="rounded mx-auto d-block" alt="...">
          </div>

          <div id="list-item-3">
            <h4>ORIGEN</h4>
            <p>El cocker inglés es uno de los tipos más antiguos de spaniel de tierra. Sus orígenes se remontan al siglo XIV en España. Antes del s. XVII todos los tipos de spaniel se incluían en la misma categoría: los más grandes se usaban para levantar la caza y los más pequeños para hacer salir a la becada, especialmente perdices. De ahí derivaron los nombres de springer (del inglés "spring game", levantar la caza) y cocker (del inglés "woodcock", becada). En 1892, el Kennel Club de Gran Bretaña los reconoció como razas independientes. Al otro lado del Atlántico, los estadounidenses utilizaban la misma base de cría para desarrollar un cocker algo diferente, que conocemos actualmente como cocker spaniel americano.</p>
            <h4>Personalidad</h4>
            <p>Estos perros activos y amistosos necesitan la compañía humana para sentirse bien y desean complacer a sus amos más que ninguna otra cosa. Son perros ideales para hogares con niños y se llevan bien con los demás animales domésticos. Los cocker son una raza muy feliz, que agita la cola y se muestra atento con todos constantemente. Es fácil de adiestrar, ya que está deseoso de aprender y de complacer.</p>
            <img src="assets/img3.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
          </div>
    </div>
  </div>
</div>
